* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.styled-list {
  list-style-type: none;
  padding-left: 0;
}

.styled-list li {
  border: 1px solid #ccc;
  margin: 5px 0;
  padding: 10px;
  max-width: 392px;
  border-radius: 4px;
  background-color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.styled-list h2 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#boxes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

#boxes div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  text-align: center;
}

.input4 {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  display: flex;
  fill: #ffffff;
}
.input4:hover {
  border-color: #000000;
  background-color: #ffffff;
}

.input4:focus {
border: 1px solid #808080;
  outline: none;
}

h1 {
  font-size: 24px;
  color: #333;
}

.login-form{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.btn-log{
  cursor: pointer;
    background: #4e75ff;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 86px;
    height: 40px;
    border: none;
}
.btn-log:hover {
  background-color: #6c8cff;
}

.change-color{
  cursor: pointer;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 148px;
  height: 40px;
  border: none;
}

/* .input6 {
  border: 1px solid #808080;
  border-radius: 8px;
  width: 150px;
  height: 40px;
}

.btn-cr {
  cursor: pointer;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 120px;
  height: 40px;
  border: none;
}

.btn-des {
  cursor: pointer;
  background: #ff4e4e;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 120px;
  height: 40px;
  border: none;
}
.btn-des:hover {
  border: 1px solid #ff7070;
} */